@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  font-size: 62.5%;
}

html,
body {
  width: 100%;
  height: 100%;
}

.layout {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (min-width: 481px) and (max-width: 768px) {
  .layout {
    display: none;
  }
}
@media (max-width: 480px) {
  .layout {
    display: none;
  }
}

.layout-mobile {
  display: none;
}
@media (min-width: 481px) and (max-width: 768px) {
  .layout-mobile {
    display: block;
    width: 100dvw;
    height: 100dvh;
  }
}
@media (max-width: 480px) {
  .layout-mobile {
    display: block;
    width: 100dvw;
    height: 100dvh;
  }
}

.navbar {
  padding: 2rem;
  height: 100%;
  width: clamp(17rem, 14vw, 18rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
@media (min-width: 481px) and (max-width: 768px) {
  .navbar {
    display: none;
  }
}
@media (max-width: 480px) {
  .navbar {
    display: none;
  }
}
.navbar .navbar__bauci-logo {
  width: 100%;
}

.navbar-mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  border-top: 1px solid grey;
}

.navbar__links-area {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  flex-flow: column nowrap;
  gap: 1rem;
}

.navbar-mobile__links-area {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  flex-flow: row nowrap;
  gap: 1rem;
}
@media (max-width: 480px) {
  .navbar-mobile__links-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.navbar-item {
  width: 100%;
  padding: clamp(1.3rem, 1vw, 1.6rem) clamp(1.9rem, 1vw, 2rem);
  border-radius: 0.6rem;
  font-size: clamp(1.2rem, 1vw, 1.4rem);
  font-weight: bold;
  background-color: transparent;
  color: #838393;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
}
.navbar-item img {
  width: clamp(1.8rem, 2vw, 2rem);
}
@media (min-width: 481px) and (max-width: 768px) {
  .navbar-item {
    margin: 1rem;
  }
}
@media (max-width: 480px) {
  .navbar-item {
    margin: 1rem;
  }
}

.navbar-item--active {
  background-color: #333840;
  color: white;
}

.navbar__logout-btn {
  color: #838393;
  border: 2px solid #838393;
  width: 100%;
  padding: clamp(0.9rem, 1vw, 1rem) clamp(1.8rem, 1.5vw, 2rem);
  border-radius: 0.6rem;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  font-size: clamp(1.3rem, 1.1vw, 1.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.navbar__logout-btn img {
  width: clamp(1.8rem, 1.5vw, 2.1rem);
}

.navbar-mobile__logout-btn {
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  padding: clamp(1.3rem, 1vw, 1.6rem) clamp(1.9rem, 1vw, 2rem);
  border-radius: 0.6rem;
  color: #838393;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
}
.navbar-mobile__logout-btn img {
  width: clamp(1.8rem, 2vw, 2rem);
}
@media (min-width: 481px) and (max-width: 768px) {
  .navbar-mobile__logout-btn {
    margin: 1rem;
  }
}
@media (max-width: 480px) {
  .navbar-mobile__logout-btn {
    margin: 1rem;
  }
}

.section-wrapper {
  flex-grow: 1;
  height: 100% !important;
  overflow-x: hidden;
  overflow-y: auto;
}
@media (min-width: 481px) and (max-width: 768px) {
  .section-wrapper {
    padding-bottom: 8rem !important;
  }
}
@media (max-width: 480px) {
  .section-wrapper {
    padding-bottom: 8rem !important;
  }
}

.Toastify__toast--success {
  font-size: 1.4rem;
  font-family: "Inter", sans-serif;
}

/*# sourceMappingURL=main.css.map */
