@use "./variables" as *;

@mixin flex($justifyValue, $alignValue) {
   display: flex;
   justify-content: $justifyValue;
   align-items: $alignValue;
}

@mixin respond-to($breakpoint) {
   @if $breakpoint == mobile {
     @media (max-width: #{$breakpoint-mobile}) {
       @content;
     }
   } @else if $breakpoint == tablet {
     @media (min-width: #{$breakpoint-mobile + 1}) and (max-width: #{$breakpoint-tablet}) {
       @content;
     }
   } 
 }
 