$preto: #333840;
$brancoAzulado: #F0F2F5;
$cinzaEscuro: #838393;
$cinzaAzulado: #979DAB;
$fontLabelColor: #717D96;
$fontePrincipal: "Inter", sans-serif;
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;   
$breakpoint-desktop: 1024px;
