@use "../utils/" as *;

.add-category-modal--disabled {
   display: none;
}

.add-category-modal {
   width: min(40rem, 80%);
   background-color: white;
   padding: 2.2rem 2rem;
   border-radius: .6rem;

   header {

      @include flex(space-between, center);

      h2 {
         font-size: clamp(2rem, 1.8vw, 2.5rem);
      }

      button {
         background-color: transparent;
         cursor: pointer;
      }
   }

   .add-category-modal__input-wrapper {
      width: 100%;
      border: 1px solid $cinzaEscuro;
      margin-top: 3rem;
      border-radius: .4rem;
      @include flex(center, center);
      flex-direction: row;

      p {
         color: $cinzaEscuro;
         font-size: 1.1rem;
         padding-right: 1rem;
         background-color: transparent;
      }
   }

   input {
      width: 100%;
      outline: none;
      font-size: 1.4rem;
      padding: 1rem;
      background-color: transparent;
   }

   .add-category-modal__error-message{
      width: 100%;
      p {
         font-size: 1.2rem;
         padding-top: .3rem;
         color: red;
      }
   }

   .add-category-modal__apply-btn {
      width: 100%;
      display: block;
      background-color: $preto;
      color: white;
      margin-top: 2rem;
      padding: 1.4rem;
      border-radius: .4rem;
      font-size: 1.4rem;
      font-weight: 700;
      cursor: pointer;
      transition-duration: 100ms;
   }

   .add-category-modal__apply-btn:hover {
      filter: brightness(1.2);
   }
}