@use "../utils/" as *;

.add-user-modal {
    width: min(40rem, 60%);
    background-color: white;
    padding: 2.2rem 2rem;
    border-radius: .6rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1.2rem;
}

.add-user-modal__header {
    @include flex(space-between, center);
}

.add-user-modal__header h2 {
    font-size: clamp(1.5rem, 4.5vw, 2.5rem);
    color: $preto;
    margin-bottom: 1.4rem;
}

.add-user-modal__header button {
    background-color: transparent;
    cursor: pointer;

    @include flex(center, center);
}

.add-user-modal__input-wrapper {

    @include flex(center, flex-start);
    flex-flow: column nowrap;
    gap: 1.2rem;
    flex: 1;
    margin: 2rem 0;

}

.add-user-modal__error-message-wrapper {
    width: 100%;

    p {
        font-size: 1.2rem;
        padding-top: .3rem;
        color: red;
    }
}

.add-user-modal__classic-input-wrapper {
    width: 100%;
    border: 1px solid $cinzaEscuro;
    border-radius: .4rem;
    @include flex(center, center);
    flex-direction: column;

    p {
        color: $cinzaEscuro;
        font-size: 1.1rem;
        padding-right: 1rem;
        background-color: transparent;
    }
}

.add-user-modal__classic-input {
    width: 100%;
    outline: none;
    font-size: 1.4rem;
    padding: 1rem;
    background-color: transparent
}

.add-user-modal__input-category-wrapper {
    @include flex (space-between, center);
    width: clamp(16rem, 50%, 18rem);
    border: 1px solid $cinzaEscuro;
    padding: .85rem 1rem;
    border-radius: .4rem;
    position: relative;

    @include respond-to(mobile) {
        width: 100%;
    }
}

.add-user-modal__arrow-dropdown-menu {
    @include flex(center, center);
    background-color: transparent;
    margin: 0;
    padding: 0;
    cursor: pointer;

    img {
        width: 2rem;
    }
}

.add-user-modal__category-input {
    outline: none;
    font-size: 1.4rem;
    width: 100%;
    background-color: transparent;
}

.add-user-modal__error-message {
    font-size: 1.2rem;
    margin-top: -.8rem;
    color: red;
}

.add-user-modal__apply-btn {
    width: 100%;
    display: block;
    background-color: $preto;
    color: white;
    margin-top: 2rem;
    padding: 1.4rem;
    border-radius: .4rem;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
}

.add-user-modal__apply-btn:hover {
    filter: brightness(1.2);
}

.add-user-modal__dropdown-category-menu {
    position: absolute;
    top: 110%;
    left: 0;
    background-color: white;
    border-radius: .4rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 100%;
    z-index: 2;

    p {
        cursor: pointer;
        padding: .5rem;
    }

    p:hover {
        background-color: #f1f1f1;
    }

    button {
        width: 100%;
        background-color: transparent;
        font-size: 1.2rem;
        font-weight: 450;
        text-align: left;
    }
}