@use "../utils/" as *;

.categoriasCard {
    background-color: $brancoAzulado;
    @include flex(space-between, center);
    padding: clamp(3rem, 3vw, 4.5rem) clamp(2rem, 3vw,3rem);
    border: 2px solid $preto;
    border-radius: .6rem;
    width: 100%;

    @include respond-to(tablet){
        gap: 2rem;
    }

    @include respond-to(mobile){
        gap: 2rem;
    }
}

.categoriasCard h1 {
    font-family: $fontePrincipal;
    color: $preto;
    font-size: clamp(1.7rem, 1.8vw, 2.5rem);
    word-break: break-all;
}

.categoriasCard__btn-gotoprodutos {
    background-color: $preto;
    border-radius: .4rem;
    @include flex(center, center);
    padding: .7rem;
    cursor: pointer;

    img {
        width: clamp(1.4rem, 1.8vw, 2rem);
    }
}

.categoriasCard__btn-gotoprodutos:hover {
    filter: brightness(1.2);
}