@use "../utils/" as *;

.Categorias-list {
    display: flex;
    width: 100%;
    min-height: 100%;
    flex-direction: column;
    flex-shrink: 0;
}

.Categorias-list header {
    @include flex(space-between, stretch);
    width: 100%;
    padding: 2rem;
    border-radius: .6rem;
    background-color: transparent;

    @include respond-to(tablet){
        gap: 1.5rem;
    }

    @include respond-to(mobile){
        gap: 1.5rem;
    }
}

.categorias-list__icon-search {
    width: 1.8rem;
    margin-right: 1rem;
}

.categorias-list__input-wrapper input {
    outline: none;
    width: 100%;

    &::placeholder {
        font-size: 1.2rem;
    }
}

.categorias-list__clean-input-button {
    padding: 0;
    border: none;
    background: none;
    display: inline-block;
    width: 2rem;
    cursor: pointer;
}

.categorias-list__clean-input-button img {
    display: block;
    width: 100%;
    height: auto;
}

.categorias-list__input-wrapper {
    width: clamp(35rem, 40%, 50rem);
    border: 1px solid $cinzaEscuro;
    border-radius: .4rem;
    padding: .6rem .8rem;
    height: 100%;
    @include flex(flex-start, center);

    @include respond-to (tablet){
        flex: 1;
     }
     @include respond-to (mobile){
        flex: 1;
     }
}

.adicionar-categoria-btn {
    background-color: $preto;
    cursor: pointer;
    color: white;
    font-weight: 700;
    padding: clamp(.2rem, .58vw, .6rem) clamp(.5rem, .8vw, 1rem);
    border-radius: .4rem;
    border: 2px solid transparent;
    transition-duration: 200ms;
    transition-property: border, background-color, color;
    height: 100%;
    font-size: clamp(0.9rem, 0.9vw, 1.1rem);

    @include flex(center, center);
    gap: clamp(.3rem, .5vw, 1rem);

    span {
        @include respond-to(tablet){
            display: none;
        }

        @include respond-to(mobile){
            display: none;
        }
    }

    .add-produto-btnícone-preto {
        display: none;
    }

    .add-produto-btnícone-branco {
        width: clamp(1.25rem, 1.3vw, 1.6rem); 

        @include respond-to(tablet) {
            width: 1.8rem;
        }

        @include respond-to(mobile) {
            width: 1.8rem;
        }
    }
}

.adicionar-categoria-btn:hover {
    filter: brightness(1.2);
}