@use "../utils/" as *;

.usuariosCard {
    background-color: $brancoAzulado;
    @include flex(space-between, center);
    padding: clamp(1.7rem, 1.5vw, 2.5rem) clamp(2.2rem, 2vw, 3rem);
    border: 2px solid $preto;
    border-radius: .6rem;
    width: 100%;
    gap: 2rem;
}

.usuariosCard h1 {
    font-family: $fontePrincipal;
    color: $preto;
    font-size: clamp(1.7rem, 1.8vw, 2.5rem);
}

.usuarios-card__user-info-wrapper h3 {
    color: $fontLabelColor;
    font-size: clamp(1.2rem, 0.5vw, 1.3rem);
}

.usuarios-card__login-passw-wrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.usuarios-card__login-wrapper {
    display: flex;
    gap: .5rem;

    h4 {
        font-weight: 450;
        font-size: 1.1rem;
    }
}

.usuarios-card__password-wrapper {
    display: flex;
    gap: .5rem;

    h4 {
        font-weight: 450;
    }
}

.usuarios-card__category-wrapper {
    display: flex;
    gap: .5rem;
}

.usuarios-card__category-name-wrapper {
    background-color: $preto;
    @include flex(center, center);
    border-radius: .2rem;

    h4 {
        color: white;
        font-weight: 450;
        font-size: .8rem;
        padding: .3rem .4rem;
    }
}

.usuarios-card__edit-delete-button-wrapper {
    @include flex (center, stretch);
    flex-direction: column;
    gap: 1rem;
}

.usuarios-card__edit-button {
    background-color: $preto;
    color: white;
    font-family: $fontePrincipal;
    font-weight: 600;
    padding: .7rem 1rem;
    border-radius: .4rem;
    font-size: clamp(1rem, 0.5vw, 1.1rem);
    cursor: pointer;
}

.usuarios-card__delete-button {
    background-color: transparent;
    color: $preto;
    font-family: $fontePrincipal;
    font-weight: 600;
    padding: .6rem .5289rem;
    border: 1px solid $preto;
    border-radius: .4rem;
    font-size: clamp(1rem, 0.5vw, 1.1rem);
    cursor: pointer;
}