@use "../components/categoria-card" as *;
@use "../utils/" as *;
@use "../components/categorias-header" as *;

.section-wrapper {
    background-color: $brancoAzulado;
    padding: 4rem 3rem;
    height: 100%
}

.sectionwrapper__categorias-page-wrapper{
    @include flex(flex-start, flex-start);
    flex-direction: column;
    height: 100%;
}

.categorias__actions-area {
    background-color: white;
}

.categorias__categorias-lista {
    background-color: white;
    margin-top: 4rem;
    padding: 2rem;
    border-radius: .6rem;
    flex: 1;
    width: 100%;
}