@use "../utils/" as *;

.delete-category-modal--disabled {
   display: none;
}

.delete-category-modal {
   width: min(40rem, 80%);
   background-color: white;
   padding: 2.8rem 2rem;
   border-radius: .6rem;

   h2 {
      font-size: clamp(2rem, 1.8vw, 2.5rem);
      text-align: center;
   }

   p {
      color: $cinzaAzulado;
      text-align: center;
      font-size: clamp(1.3rem, 1.15vw, 1.5rem);
      line-height: 2.6rem;
      margin-top: 2rem;
   }

   .delete-category-modal__buttons-area {

      margin-top: 2rem;

      @include flex(space-between, center);
      gap: 2rem;

      button {
         cursor: pointer;
         font-size: clamp(1.3rem, 1.15vw, 1.5rem);
         font-weight: 600;
         flex: 1;
         padding: clamp(1.1rem, 1vw, 1.4rem);
      }
   }

   .delete-category-modal__cancelar-btn {
      color: $preto;
      background-color: transparent;
   }

   .delete-category-modal__deletar-btn {
      color: white;
      background-color: $preto;
      border-radius: .4rem;
   }

   .delete-category-modal__deletar-btn:hover {
      filter: brightness(1.2);
   }
}