@use "../utils/" as *;

.login-page {
    @include flex(center, center);
    width: 100%;
    height: 100vh;
}

.login-page__wrapper {
    @include flex(center, center);
    flex-direction: column;
    background-color: $brancoAzulado;
    width: 35rem;
    padding: 2.5rem;
    border-radius: .6rem;
}

.login-page__logo {
    width: 15rem;
}

.login-page__inputs-wrapper {

    @include flex(center, center);

    flex-direction: column;
    width: 100%;
    gap: .7rem;
    margin: .2rem 0rem;

    .login-page__input-wrapper {
        
        width: 100%;

        p {
            color: red;
            text-align: end;
            visibility: hidden;
            margin-top: .3rem;
            font-weight: 500;
        }

        .input-wrapper__error-message {
            visibility: visible;
        }
    }

    .login-page__input {
        width: 100%;
        border: 1px solid $cinzaEscuro;
        outline: none;
        font-size: 1.2rem;
        padding: 1rem;
        border-radius: .4rem;
        background-color: transparent;
    }

    .login-page__input--error {
        border-color: red;
    }
}

.login-page__enter-button {
    width: 100%;
    display: block;
    background-color: $preto;
    color: white;
    margin-top: 2rem;
    padding: 1.4rem;
    border-radius: .4rem;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
}

.login-page__enter-button:hover {
    filter: brightness(1.2);
}