@use "../utils/" as *;

header {
   @include flex(space-between, center);

   h1 {
      font-size: 4.5rem;
   }
}

.produtos__actions-area {
   @include flex(center, center);
   gap: 1rem;

   button {
      border: 2px solid $preto;
      padding: 1rem 2rem;
      border-radius: .6rem;
      font-size: 1.4rem;
      font-weight: 700;

      @include flex(center, center);
      gap: 1rem;
   }
}

.produtos__editar-btn {
   background-color: $preto;
   color: white;
}

.produtos__deletar-btn {
   background-color: transparent;
   color: $preto;
}