@use "../utils" as *;

.produtos-list {
   margin-top: 6rem;
   width: 100%;

   header {
      @include flex(space-between, stretch);
      
      @include respond-to (tablet){
         gap: 1.5rem;
      }
      @include respond-to (mobile){
         gap: 1.5rem;
      }
   }
}

.produtos-list__search-area {

   width: 100%;

   @include flex(flex-start, stretch);
   gap: 2rem;

   .produtos-list__input-wrapper {
      width: clamp(20rem, 40%, 50rem);
      border: 1px solid $cinzaEscuro;
      border-radius: .4rem;
      padding: 1rem .8rem;

      @include flex(flex-start, center);
      gap: 1.5rem;

      @include respond-to (tablet){
         flex: 1;
      }
      @include respond-to (mobile){
         flex: 1;
      }

      img {
         height: 2rem;
      }

      input {
         flex: 1;
         outline: none;
         background-color: transparent;
         width: 100%;
      }

      button {
         background-color: transparent;
         width: min-content;
         cursor: pointer;

         @include flex(center, center);
      }
   }
}

.produtos-list__add-produto-btn {
   @include flex(center, center);

   span {
      white-space: nowrap;

      @include respond-to (tablet){
         display: none;
      }
      @include respond-to (mobile){
         display: none;
      }
   }
}

.produtos-list__add-produto-btn {
   background-color: $preto;
   cursor: pointer;
   color: white;
   font-weight: 700;
   padding: clamp(0.5rem, 0.58vw, 1.2rem) clamp(0.8rem, 0.8vw, 1.6rem);
   border-radius: .4rem;
   border: 2px solid transparent;
   transition-duration: 200ms;
   transition-property: border, background-color, color;

   @include flex(center, center);
   gap: 1rem;

   .add-produto-btn__ícone-preto {
      display: none;
   }

   img {
      width: clamp(1.25rem, 1.3vw, 1.6rem); 

        @include respond-to(tablet) {
            width: 2.2rem;
        }

        @include respond-to(mobile) {
            width: 2.2rem;
        }
   }
}

.produtos-list__add-produto-btn:hover {
   filter: brightness(1.2);

   .add-produto-btn__ícone-branco {
      display: none;
   }

   .add-produto-btn__ícone-preto {
      display: block;
   }
}

.produtos-list__produtos-wrapper {
   margin-top: 4rem;

   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
   gap: 2rem;
}