@use "../utils" as *;

.produtos-list {
   margin-top: 6rem;
width: 100%;

   header {
      @include flex(space-between, center);
   }
}

.produtos-list__search-area {

   @include flex(flex-start, stretch);
   gap: 2rem;

   input {
      width: max(40rem, 40%);
      border: 1px solid $cinzaEscuro;
      border-radius: .4rem;
      padding: 1rem .8rem;
      outline: none;
   }

   button {
      background-color: $preto;
      width: 4rem;
      border-radius: .4rem;
      cursor: pointer;

      img {
         height: 2rem;
      }
   }

   button:hover {
      filter: brightness(1.2);
   }
}

.produtos-list__add-produto-btn {
   background-color: $preto;
   cursor: pointer;
   color: white;
   font-weight: 700;
   padding: 1.2rem 1.6rem;
   border-radius: .4rem;
   border: 2px solid transparent;
   transition-duration: 200ms;
   transition-property: border, background-color, color;

   @include flex(center, center);
   gap: 1rem;

   .add-produto-btn__ícone-preto {
      display: none;
   }
}

.produtos-list__add-produto-btn:hover {
   filter: brightness(1.2);

   .add-produto-btn__ícone-branco {
      display: none;
   }

   .add-produto-btn__ícone-preto {
      display: block;
   }
}

.produtos-list__produtos-wrapper {
   margin-top: 4rem;

   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
   gap: 2rem;
}