@use "../utils" as *;

.produto-card {
   border: 3px solid $preto;
   width: 100%;
   border-radius: .6rem;

   display: flex;
   flex-flow: column nowrap;

   img {
      width: 100%;
      height: 15rem;
      object-fit: cover;
   }
}

.produto-card__content-wrapper {

   padding: 2rem;
   flex: 1;
   display: flex;
   flex-flow: column nowrap;

   h2 {
      font-size: 3rem;
   }

   .produto-card__prazo-label {
      background-color: $preto;
      color: white;
      width: min-content;
      white-space: nowrap;
      padding: .8rem 1rem;
      border-radius: .4rem;
      font-weight: 700;
      margin-top: 1rem;
   }

   p {
      color: $cinzaEscuro;
      margin-top: 2rem;
      font-size: 1.3rem;
      line-height: 1.8rem;
      overflow-wrap: break-word;
   }
}

.produto-card__actions-area {

   margin-top: 2rem;
   
   @include flex(center, flex-end);
   gap: 1rem;
   flex: 1;

   button {
      padding: 1rem;
      border-radius: .6rem;
      font-size: 1.3rem;
      font-weight: 600;
      cursor: pointer;

      @include flex(center, center);
      gap: 1rem;
      flex: 1;

      img {
         height: 1.8rem;
         width: auto;
      }
   }

   .produto-card__deletar-btn {
      border: 2px solid $preto;
      color: preto;
      background-color: transparent;
   }

   .produto-card__editar-btn {
      background-color: $preto;
      border: 2px solid $preto;
      color: white;
   }
}