.add-product-modal--disabled {
  display: none;
}

.add-product-modal {
  width: min(60rem, 80%);
  background-color: white;
  padding: 2.2rem 2rem;
  border-radius: 0.6rem;
}
.add-product-modal header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-product-modal header h2 {
  font-size: clamp(2.2rem, 1.8vw, 2.5rem);
  color: #333840;
}
.add-product-modal header button {
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-product-modal form {
  width: 100%;
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 4rem;
}
.add-product-modal form .add-product-modal__image-picker {
  border: 1px solid #838393;
  width: 24rem;
  position: relative;
  border-radius: 0.4rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-product-modal form .add-product-modal__image-picker p {
  font-size: 2rem;
  color: gray;
  font-weight: 500;
}
.add-product-modal form .add-product-modal__image-picker button {
  width: 4rem;
  height: 4rem;
  position: absolute;
  bottom: -1.2rem;
  right: -1.2rem;
  background-color: #333840;
  border-radius: 50%;
  cursor: pointer;
}
.add-product-modal form .add-product-modal__image-picker button .add-product-modal__image-picker-content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-product-modal form .add-product-modal__image-picker button .add-product-modal__image-picker-content-wrapper input[type=file] {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.add-product-modal form .add-product-modal__image-picker button .add-product-modal__image-picker-content-wrapper img {
  height: 1.8rem;
}
@media (min-width: 481px) and (max-width: 768px) {
  .add-product-modal form .add-product-modal__image-picker {
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .add-product-modal form .add-product-modal__image-picker {
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.add-product-modal form .add-product-modal__product-info-area {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column nowrap;
  gap: 1rem;
  flex: 1;
}
.add-product-modal form .add-product-modal__product-info-area .add-product-modal__error-message-wrapper {
  width: 100%;
}
.add-product-modal form .add-product-modal__product-info-area .add-product-modal__error-message-wrapper .add-product-modal__error-message {
  font-size: 1.2rem;
  padding-top: 0.3rem;
  color: red;
}
.add-product-modal form .add-product-modal__product-info-area .add-product-modal__input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  border: 1px solid #838393;
  border-radius: 0.4rem;
}
.add-product-modal form .add-product-modal__product-info-area .add-product-modal__input-wrapper p {
  color: #838393;
  font-size: 1.1rem;
  padding-right: 1rem;
  background-color: transparent;
}
.add-product-modal form .add-product-modal__product-info-area input {
  width: 100%;
  outline: none;
  font-size: 1.4rem;
  padding: 1rem;
  background-color: transparent;
}
.add-product-modal form .add-product-modal__product-info-area .add-product-modal__textarea-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  border: 1px solid #838393;
  border-radius: 0.4rem;
}
.add-product-modal form .add-product-modal__product-info-area .add-product-modal__textarea-wrapper p {
  color: #838393;
  font-size: 1.1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  background-color: transparent;
}
.add-product-modal form .add-product-modal__product-info-area textarea {
  width: 100%;
  outline: none;
  font-size: 1.4rem;
  padding: 1rem;
  resize: none;
  background-color: transparent;
}
.add-product-modal form .add-product-modal__product-info-area .add-product-modal__prazo-area {
  position: relative;
}
.add-product-modal form .add-product-modal__product-info-area .add-product-modal__prazo-area h2 {
  color: rgb(114, 114, 114);
  font-size: 1.45rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
@media (min-width: 481px) and (max-width: 768px) {
  .add-product-modal form .add-product-modal__product-info-area .add-product-modal__prazo-area {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .add-product-modal form .add-product-modal__product-info-area .add-product-modal__prazo-area {
    width: 100%;
  }
}
.add-product-modal form .add-product-modal__product-info-area .add-product-modal__input-area {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}
.add-product-modal form .add-product-modal__product-info-area .add-product-modal__input-area .add-product-modal__hifen {
  width: 2rem;
  height: 0.1rem;
  background-color: #838393;
  margin-top: 1.95rem;
}
.add-product-modal form .add-product-modal__product-info-area .add-product-modal__input-area .add-product-modal__error-message-wrapper-number {
  width: 100%;
}
.add-product-modal form .add-product-modal__product-info-area .add-product-modal__input-area .add-product-modal__error-message-wrapper-number .add-product-modal__error-message {
  font-size: 1rem;
  padding-top: 0.3rem;
  color: red;
}
.add-product-modal form .add-product-modal__product-info-area .add-product-modal__input-area input[type=number] {
  width: 100%;
  border: 1px solid #838393;
  border-radius: 0.4rem;
  width: 100%;
  outline: none;
  font-size: 1.4rem;
  padding: 1rem;
}
.add-product-modal form .add-product-modal__product-info-area .add-product-modal__input-area input[type=number]::-webkit-inner-spin-button {
  appearance: none;
}
.add-product-modal form .add-product-modal__product-info-area button {
  font-size: 1.4rem;
  padding: 1rem;
  border-radius: 0.4rem;
  background-color: transparent;
  border: 1px solid #838393;
  color: gray;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}
.add-product-modal form .add-product-modal__product-info-area button .add-product-modal__arrow-icon {
  height: 2rem;
}
.add-product-modal form .add-product-modal__product-info-area button .add-product-modal__arrow-icon--active {
  transform: rotate(180deg);
}
@media (min-width: 481px) and (max-width: 768px) {
  .add-product-modal form .add-product-modal__product-info-area {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .add-product-modal form .add-product-modal__product-info-area {
    width: 100%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .add-product-modal form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
    margin: 2rem 0;
  }
}
@media (max-width: 480px) {
  .add-product-modal form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
    margin: 2rem 0;
  }
}
.add-product-modal .add-product-modal__add-btn {
  width: 100%;
  display: block;
  background-color: #333840;
  color: white;
  margin-top: 2rem;
  padding: 1.4rem;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
}
.add-product-modal .add-product-modal__add-btn:hover {
  filter: brightness(1.2);
}

/*# sourceMappingURL=add-product-modal.css.map */
