@charset "UTF-8";
.categoriasCard {
  background-color: #F0F2F5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: clamp(3rem, 3vw, 4.5rem) clamp(2rem, 3vw, 3rem);
  border: 2px solid #333840;
  border-radius: 0.6rem;
  width: 100%;
}
@media (min-width: 481px) and (max-width: 768px) {
  .categoriasCard {
    gap: 2rem;
  }
}
@media (max-width: 480px) {
  .categoriasCard {
    gap: 2rem;
  }
}

.categoriasCard h1 {
  font-family: "Inter", sans-serif;
  color: #333840;
  font-size: clamp(1.7rem, 1.8vw, 2.5rem);
}

.categoriasCard__btn-gotoprodutos {
  background-color: #333840;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  cursor: pointer;
}
.categoriasCard__btn-gotoprodutos img {
  width: clamp(1.4rem, 1.8vw, 2rem);
}

.categoriasCard__btn-gotoprodutos:hover {
  filter: brightness(1.2);
}

.Categorias-list {
  display: flex;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
  flex-shrink: 0;
}

.Categorias-list header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  padding: 2rem;
  border-radius: 0.6rem;
  background-color: transparent;
}
@media (min-width: 481px) and (max-width: 768px) {
  .Categorias-list header {
    gap: 1.5rem;
  }
}
@media (max-width: 480px) {
  .Categorias-list header {
    gap: 1.5rem;
  }
}

.categorias-list__icon-search {
  width: 1.8rem;
  margin-right: 1rem;
}

.categorias-list__input-wrapper input {
  outline: none;
  width: 100%;
}
.categorias-list__input-wrapper input::placeholder {
  font-size: 1.2rem;
}

.categorias-list__clean-input-button {
  padding: 0;
  border: none;
  background: none;
  display: inline-block;
  width: 2rem;
  cursor: pointer;
}

.categorias-list__clean-input-button img {
  display: block;
  width: 100%;
  height: auto;
}

.categorias-list__input-wrapper {
  width: clamp(35rem, 40%, 50rem);
  border: 1px solid #838393;
  border-radius: 0.4rem;
  padding: 0.6rem 0.8rem;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 481px) and (max-width: 768px) {
  .categorias-list__input-wrapper {
    flex: 1;
  }
}
@media (max-width: 480px) {
  .categorias-list__input-wrapper {
    flex: 1;
  }
}

.adicionar-categoria-btn {
  background-color: #333840;
  cursor: pointer;
  color: white;
  font-weight: 700;
  padding: clamp(0.2rem, 0.58vw, 0.6rem) clamp(0.5rem, 0.8vw, 1rem);
  border-radius: 0.4rem;
  border: 2px solid transparent;
  transition-duration: 200ms;
  transition-property: border, background-color, color;
  height: 100%;
  font-size: clamp(0.9rem, 0.9vw, 1.1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(0.3rem, 0.5vw, 1rem);
}
@media (min-width: 481px) and (max-width: 768px) {
  .adicionar-categoria-btn span {
    display: none;
  }
}
@media (max-width: 480px) {
  .adicionar-categoria-btn span {
    display: none;
  }
}
.adicionar-categoria-btn .add-produto-btnícone-preto {
  display: none;
}
.adicionar-categoria-btn .add-produto-btnícone-branco {
  width: clamp(1.25rem, 1.3vw, 1.6rem);
}
@media (min-width: 481px) and (max-width: 768px) {
  .adicionar-categoria-btn .add-produto-btnícone-branco {
    width: 1.8rem;
  }
}
@media (max-width: 480px) {
  .adicionar-categoria-btn .add-produto-btnícone-branco {
    width: 1.8rem;
  }
}

.adicionar-categoria-btn:hover {
  filter: brightness(1.2);
}

.add-category-modal--disabled {
  display: none;
}

.add-category-modal {
  width: min(40rem, 80%);
  background-color: white;
  padding: 2.2rem 2rem;
  border-radius: 0.6rem;
}
.add-category-modal header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-category-modal header h2 {
  font-size: clamp(2rem, 1.8vw, 2.5rem);
}
.add-category-modal header button {
  background-color: transparent;
  cursor: pointer;
}
.add-category-modal input {
  width: 100%;
  border: 1px solid #838393;
  outline: none;
  margin-top: 3rem;
  font-size: 1.4rem;
  padding: 1rem;
  border-radius: 0.4rem;
}
.add-category-modal .add-category-modal__apply-btn {
  width: 100%;
  display: block;
  background-color: #333840;
  color: white;
  margin-top: 2rem;
  padding: 1.4rem;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
}
.add-category-modal .add-category-modal__apply-btn:hover {
  filter: brightness(1.2);
}

.section-wrapper {
  background-color: #F0F2F5;
  padding: 4rem 3rem 0rem 3rem;
  height: 100%;
}

.sectionwrapper__categorias-page-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
}

.Categorias-list header {
  background-color: white;
}

.categorias-list__categorias-wrapper {
  background-color: white;
  margin-top: 4rem;
  padding: 2rem;
  border-radius: 0.6rem;
  width: 100%;
  flex: 1;
  margin-bottom: 4rem;
}

.categoriasLista__Wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.5rem;
}
@media (min-width: 481px) and (max-width: 768px) {
  .categoriasLista__Wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.8rem;
  }
}
@media (max-width: 480px) {
  .categoriasLista__Wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.8rem;
  }
}

/*# sourceMappingURL=categorias.css.map */
