@charset "UTF-8";
.usuariosCard {
  background-color: #F0F2F5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  border: 2px solid #333840;
  border-radius: 0.6rem;
  width: 100%;
}

.usuariosCard h1 {
  font-family: "Inter", sans-serif;
  color: #333840;
  font-size: 2.5rem;
}

.usuarios-card__user-info-wrapper h3 {
  color: #717D96;
  font-size: 1.2rem;
}

.usuarios-card__login-passw-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.usuarios-card__login-wrapper {
  display: flex;
  gap: 0.5rem;
}
.usuarios-card__login-wrapper h4 {
  font-weight: 450;
}

.usuarios-card__password-wrapper {
  display: flex;
  gap: 0.5rem;
}
.usuarios-card__password-wrapper h4 {
  font-weight: 450;
}

.usuarios-card__category-wrapper {
  display: flex;
  gap: 0.5rem;
}

.usuarios-card__category-name-wrapper {
  background-color: #333840;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
}
.usuarios-card__category-name-wrapper h4 {
  color: white;
  font-weight: 450;
  font-size: 0.8rem;
  padding: 0.3rem 0.4rem;
}

.usuarios-card__edit-delete-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  gap: 1rem;
}

.usuarios-card__edit-button {
  background-color: #333840;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  padding: 0.7rem 1rem;
  border-radius: 0.4rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.usuarios-card__delete-button {
  background-color: transparent;
  color: #333840;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  padding: 0.6rem 0.5289rem;
  border: 1px solid #333840;
  border-radius: 0.4rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.Usuarios-list {
  display: flex;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
  flex-shrink: 0;
}

.Usuarios-list header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem;
  border-radius: 0.6rem;
  background-color: transparent;
}

.usuarios-list__icon-search {
  width: 1.8rem;
  margin-right: 1rem;
}

.usuarios-list__input-wrapper input {
  outline: none;
  width: 100%;
}
.usuarios-list__input-wrapper input::placeholder {
  font-size: 1.2rem;
}

.usuarios-list__clean-input-button {
  padding: 0;
  border: none;
  background: none;
  display: inline-block;
  width: 2rem;
  cursor: pointer;
}

.usuarios-list__clean-input-button img {
  display: block;
  width: 100%;
  height: auto;
}

.usuarios-list__input-wrapper {
  width: max(40rem, 40%);
  border: 1px solid #838393;
  border-radius: 0.4rem;
  padding: 0.6rem 0.8rem;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.adicionar-usuario-btn {
  background-color: #333840;
  cursor: pointer;
  color: white;
  font-weight: 700;
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
  border: 2px solid transparent;
  transition-duration: 200ms;
  transition-property: border, background-color, color;
  height: 3rem;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.adicionar-usuario-btn .add-produto-btnícone-preto {
  display: none;
}
.adicionar-usuario-btn .add-produto-btnícone-branco {
  width: 1.6rem;
}

.add-user-modal {
  width: min(40rem, 60%);
  background-color: white;
  padding: 2.2rem 2rem;
  border-radius: 0.6rem;
}

.add-user-modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-user-modal__header h2 {
  font-size: 2.5rem;
  color: #333840;
}

.add-user-modal__header button {
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-user-modal__input-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column nowrap;
  gap: 1.5rem;
  flex: 1;
  margin: 3rem 0;
}

.add-user-modal__classic-input {
  width: 100%;
  border: 1px solid #838393;
  outline: none;
  font-size: 1.4rem;
  padding: 1rem;
  border-radius: 0.4rem;
}

.add-user-modal__input-category-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  border: 1px solid #838393;
  padding: 0.85rem 1rem;
  border-radius: 0.4rem;
}

.add-user-modal__arrow-dropdown-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.add-user-modal__arrow-dropdown-menu img {
  width: 2rem;
}

.add-user-modal__category-input {
  outline: none;
  font-size: 1.4rem;
  width: 100%;
  background-color: transparent;
}

.add-user-modal__apply-btn {
  width: 100%;
  display: block;
  background-color: #333840;
  color: white;
  margin-top: 2rem;
  padding: 1.4rem;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
}

.add-user-modal__apply-btn:hover {
  filter: brightness(1.2);
}

.add-user-modal__dropdown-category-menu {
  position: absolute;
  top: 63.8%;
  background-color: white;
  border-radius: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 18rem;
  z-index: 2;
  display: none;
}
.add-user-modal__dropdown-category-menu p {
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 450;
}
.add-user-modal__dropdown-category-menu p:hover {
  background-color: #f1f1f1;
}

.edit-user-modal {
  width: min(40rem, 60%);
  background-color: white;
  padding: 2.2rem 2rem;
  border-radius: 0.6rem;
}

.edit-user-modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-user-modal__header h2 {
  font-size: 2.5rem;
  color: #333840;
}

.edit-user-modal__header button {
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-user-modal__input-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column nowrap;
  gap: 1.5rem;
  flex: 1;
  margin: 3rem 0;
}

.edit-user-modal__classic-input {
  width: 100%;
  border: 1px solid #838393;
  outline: none;
  font-size: 1.4rem;
  padding: 1rem;
  border-radius: 0.4rem;
}

.edit-user-modal__input-category-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  border: 1px solid #838393;
  padding: 0.85rem 1rem;
  border-radius: 0.4rem;
}

.edit-user-modal__arrow-dropdown-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.edit-user-modal__arrow-dropdown-menu img {
  width: 2rem;
}

.edit-user-modal__category-input {
  outline: none;
  font-size: 1.4rem;
  width: 100%;
  background-color: transparent;
}

.edit-user-modal__apply-btn {
  width: 100%;
  display: block;
  background-color: #333840;
  color: white;
  margin-top: 2rem;
  padding: 1.4rem;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
}

.edit-user-modal__apply-btn:hover {
  filter: brightness(1.2);
}

.edit-user-modal__dropdown-category-menu {
  position: absolute;
  top: 63.8%;
  background-color: white;
  border-radius: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 18rem;
  z-index: 2;
}
.edit-user-modal__dropdown-category-menu p {
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 450;
}
.edit-user-modal__dropdown-category-menu p:hover {
  background-color: #f1f1f1;
}

.section-wrapper {
  background-color: #F0F2F5 !important;
  padding: 4rem 3rem 0rem 3rem !important;
  height: 100% !important;
}

.sectionwrapper__usuarios-page-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
}

.Usuarios-list header {
  background-color: white;
}

.usuarios-list__categorias-wrapper {
  background-color: white;
  margin-top: 4rem;
  padding: 2rem;
  border-radius: 0.6rem;
  width: 100%;
  flex: 1;
  margin-bottom: 4rem;
}

.usuarios-list__Wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.5rem;
}

/*# sourceMappingURL=usuarios.css.map */
